*{
    box-sizing: border-box;
}
.profile{
  
    height: 500px;
    width: 100%;
}
.profile>.col1{
    
    height: 25%;
}
.profile>.col2{
    
    height: 25%;
    
}
.profile>.col3{
   
    height: 50%;
 

}
.col2>h1
{
    font-size: 50px;
    margin-top: 60px;
    margin-left: 300px;
}
.col3-col1>img{
    position: relative;
    bottom: 100px;
    left: 250px;
}

.col3-col1
{

    width: 33%;
    height: 100%;
    display: inline-block;
}
.col3-col1>ul{
    position: relative;
    bottom: 80px;
}
.col3-col1>a{
    position: relative;
    bottom: 70px;
}
.properties{
    border: 1px solid black;
    background-color: whitesmoke;
    height: 800px;
}
.properties-col1{
    border: 1px solid blue;
    height: 30%;
}
.properties-col1>h1{
    position: relative;
    top:120px;
    left: 200px;
}
.properties-col2
{
    border: 1px solid blue;
    height: 60%;
}