.search{
    
    height: 500px;
    background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: 100%;
     background-blend-mode:luminosity;
}
.searchbox{
    margin-left: 30%;
    width: 600px;
}
.head{
    text-align: center;
    color: white;
    font-size: 40px;
    position: relative;
    top:190px;
}
.search-input{
    position: relative;
    align-items:center ;
    width: 600px;
    height: 50px;
    top: 100px;
    left: 550px;
    display: inline-block;
}
.btn btn-primary
{
    position: relative;
    width: 600px;
    top: 30px;
    left: 150px;
}
.row-search{
    display: inline;
}
.places{
    border: 2px solid black;
    height: 500px;
}
.place-name{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    font-weight: bolder;
}
.place-image
{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.place-images{

    top: 70px;
    left: 500px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: whitesmoke;
}
.place-img{
    width: 180px;
    height: 180px;
    margin-left: 10px;
}